includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    ignoreErrors:
        - '~Parameter #\d+ \$callback of method Illuminate\\Support\\Collection<.*>::[a-zA-Z0-9_]+\(\) expects .*, Closure\(.*\): .* given~'
        - '~Parameter #\d+ \$callback of method Illuminate\\Database\\Eloquent\\Collection<.*>::[a-zA-Z0-9_]+\(\) expects .*, Closure\(.*\): .* given~'
        

    paths:
        - src

    # Level 10 is the highest level
    level: 5